﻿@model IDictionary<string, IList<UnpremierBetting.Models.ViewModels.Players.PlayerStatisticViewModel>>

<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr class="bg-primary">
                <th>Goals</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var stat in Model["Goals"])
            {
                <tr>
                    <td>@stat.Position</td>
                    <td>
                        <img src="~/Content/Images/Players/@(stat.PictureId).png" width="@stat.PictureSize">
                        @Html.ActionLink(
                       stat.PlayerName, "Details", "Players", new { playerId = stat.PlayerId }, null)
                    </td>
                    <td class="text-primary" style="font-weight: bold">
                        @stat.StatCount
                    </td>
                </tr>
            }
        </table>
    </div>
</div>