﻿@using UnpremierBetting.Models.ViewModels
@model UnpremierBetting.Models.ViewModels.Seasons.LeagueTableClubViewModel

<tr class="@this.ViewBag.Color">
    <td>
        @Html.DisplayFor(modelItem => Model.Position)
    </td>
    <td>
        @Html.ActionLink(Model.Name, "Details", "Clubs", new { id = Model.Id }, null)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.MatchesPlayed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.WinsCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DrawsCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.LossesCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Points)
    </td>
</tr>
