﻿
@using UnpremierBetting.Models.ViewModels
@model IEnumerable<UnpremierBetting.Models.ViewModels.Seasons.LeagueTableClubViewModel>

@{
    ViewBag.Title = "League Table";
}

<h2>@ViewBag.Title</h2>
<h4>Season</h4>

<div class="row">
    @using (Html.BeginForm("Table", "Seasons", FormMethod.Post))
    {
        <div class="col-lg-2">
            @Html.DropDownList("leagueId", (IEnumerable<SelectListItem>)this.ViewBag.AllLeagues, new { @class = "form-control" })
            @Html.DropDownList("year", (IEnumerable<SelectListItem>)this.ViewBag.AllSeasonYears, new { @class = "form-control" })
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <input type="submit" value="Filter" class="form-control btn btn-info" />
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-lg-8">
        <table class="table">
            <tr class="bg-primary">
                <th>Position</th>
                <th>Club</th>
                <th>Matches</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Losses</th>
                <th>Points</th>
            </tr>

            @{
                foreach (var club in Model)
                {
                    @Html.Action("TableClub", "Seasons", new { clubVm = club, clubsCount = Model.Count() })
                }
            }
        </table>
    </div>
    <div class="col-lg-4">
        @Html.Action("Stats", "Players", new { leagueId = this.ViewBag.SelectedLeague, year = this.ViewBag.SelectedYear })
    </div>
</div>