﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
}

.label-primary {
    background: purple;
}

#squad {
    margin-bottom: 10px;
}

.table-hover tbody tr:hover td {
    background-color: #009688;
    color: white;
}

.sizeup {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-duration: 0.3s;
    transition-property: transform;
}

    .sizeup:hover, .sizeup:focus, .sizeup:active {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }

.bets {
    margin-left: 40px;
}

.score {
    margin-left: 20px;
}

.fixture {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.space {
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-responsive .sizeup{
    width: 700px;
}

.logo-header {
    height: 400px;
    background: url('Images/logo.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}