﻿<li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">
        Admin
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Club Options", "Options", "Clubs",
                routeValues: new { area = "Admin" }, htmlAttributes: null)
        </li>
        <li>
            @Html.ActionLink("Season Options", "Options", "Seasons",
                routeValues: new { area = "Admin" }, htmlAttributes: null)
        </li>
    </ul>
</li>