﻿@using UnpremierBetting.Models.ViewModels.Players
@using UnpremierBetting.Utilities.Extensions
@model PlayerDetailsViewModel

@{
    this.ViewBag.Title = $"{Model.Club}'s {Model.FirstName} {Model.LastName}";
}

<div class="row">
    <h1></h1>
</div>
<div class="row">
    <div class="col-lg-3">
        <h1>@Model.FirstName @Model.LastName</h1>
    </div>
    <div class="col-lg-2">
        <img src="~/Content/Images/Players/@(Model.PictureId).png" alt="playerPicture" />
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h5>
            <strong>Overall: </strong>
            <span class="label label-@this.ViewBag.LabelColor" data-effect="pop">
                <strong>@Model.Overall</strong>
            </span>
        </h5>
        <h5>
            <strong>Club: </strong>
            @Model.Club
        </h5>
        <h5>
            <strong>Age: </strong>
            @Model.Age
        </h5>
        <h5>
            <strong>Nationality: </strong>
            <img width="30" src="~/Content/Images/Flags/@(Model.Nationality.Replace(" ", "-")).png" alt="playerPicture" />
            @Model.Nationality
        </h5>
        <h5>
            <strong>
                Market value: <span class="text-success">@Html.DisplayPrice(Model.MarketValue)</span>
            </strong>
        </h5>
    </div>
    <div class="col-lg-6 col-lg-offset-2">
        @foreach (var ability in Model.MainAbilities)
        {
            @ability.AbilityName
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-@ability.AbilityColor active" style="width: @ability.AbilityValue%">
                    <span>
                        <strong>@ability.AbilityValue</strong>
                    </span>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <h4>Recent matches</h4>
    <div class="col-lg-6">
        <table class="table">
            <tr>
                <th>Home</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Away</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var match in Model.PlayedMatches)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => match.HomeTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => match.HomeGoals)
                    </td>
                    <td>:</td>
                    <td>
                        @Html.DisplayFor(modelItem => match.AwayGoals)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => match.AwayTeam)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</div>
