﻿@using UnpremierBetting.Models.ViewModels.Clubs
@model ClubPlayerViewModel

<div class="img-responsive col-lg-6 sizeup">
    <div class="clickable-row" data-href="/players/@Model.Id">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/Content/Images/Players/@(Model.PictureId).png" alt="playerPic" width="90" />
            </div>
            <div class="col-lg-8">
                <h4 class="text-primary">
                    <strong>@Model.FullName</strong>
                    <img width="20" src="~/Content/Images/Flags/@(Model.Nationality.Replace(" ", "-")).png" alt="playerPicture" />               
                </h4>
                <span class="label label-@this.ViewBag.LabelColor" data-effect="pop">
                    <strong>@Model.Overall</strong>
                </span>
                <h5>@Model.PositionType</h5>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}
