﻿@model UnpremierBetting.Models.ViewModels.Clubs.ClubDetailsViewModel
@{
    this.ViewBag.Title = $"{Model.Name} Club";
}

<div class="row">
    <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 sizeup">
        <img src="@Model.Logo" alt="logo" width="700" />
    </div>
    <div class="col-lg-4 col-lg-offset-1">
        <h1 class="text-primary">@Model.Name</h1>
        <h5>Stadium: @Model.Stadium</h5>
    </div>
</div>
<br />
<br />
<div id="matches">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-primary">
                <strong>Upcoming</strong>
            </h3>
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Home</th>
                        <th>Away</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in Model.UpcomingMatches)
                    {
                        <tr class="clickable-row" data-href="/matches/details/@match.Id">
                            <td>
                                @Html.DisplayFor(modelItem => match.HomeTeam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => match.AwayTeam)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h3 class="text-primary">
                <strong>Played</strong>
            </h3>
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Home</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Away</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in Model.PlayedMatches)
                    {
                        <tr class="clickable-row" data-href="/matches/details/@match.Id">
                            <td>
                                @Html.DisplayFor(modelItem => match.HomeTeam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => match.HomeGoals)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DisplayFor(modelItem => match.AwayGoals)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => match.AwayTeam)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="squad">
    <div class="row">
        <div class="col-lg-8">
            <h3 class="text-primary">
                <strong>Top 11</strong>
            </h3>
            @foreach (var player in Model.TopPlayers)
            {
                @Html.Action("PlayerInfo", new { playerVm = player })
            }
        </div>
        <div class="col-lg-4">
            <h3 class="text-primary">
                <strong>Bench</strong>
            </h3>
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Name</th>
                        <th>Position</th>
                        <th>Overall</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.Bench)
                    {
                        <tr class="clickable-row" data-href="/players/@player.Id">
                            <td>
                                <img width="20" src="~/Content/Images/Flags/@(player.Nationality.Replace(" ", "-")).png" alt="playerPicture" />
                                @player.FullName
                            </td>
                            <td>@player.PositionType</td>
                            <td>@player.Overall</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}