﻿@{
    ViewBag.Title = "League Options";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("League", "Seasons", FormMethod.Post))
        {
            <label class="control-label">League Name</label>
            <input class="form-control" type="text" name="leagueName">
            <br />
            <div class="form-group">
                <input type="submit" value="Create League" class="form-control btn btn-success" />
            </div>
        }
    </div>
    <div class="col-lg-3">
        @using (Html.BeginForm("Generate", "Seasons", FormMethod.Post))
            {
            @Html.Label("League", new { @class = "control-label" })
            @Html.DropDownList("LeagueId", (IEnumerable<SelectListItem>)this.ViewBag.AllLeaguesList, new { @class = "form-control" })
            @Html.Label("First Match Date", new { @class = "control-label" })
            <input class="form-control" type="date" name="firstMatchDate">
            <br />
            <div class="form-group">
                <input type="submit" value="Generate Matches" class="form-control btn btn-success" />
            </div>
        }
    </div>
    <div class="col-lg-3">
        @using (Html.BeginForm("Delete", "Seasons", FormMethod.Post))
            {
            @Html.Label("League", new { @class = "control-label" })
            @Html.DropDownList("LeagueId", (IEnumerable<SelectListItem>)this.ViewBag.AllLeaguesList, new { @class = "form-control" })
            @Html.Label("Season", new { @class = "control-label" })
            @Html.DropDownList("year", (IEnumerable<SelectListItem>)this.ViewBag.AllSeasonYears, new { @class = "form-control" })
            <br />
            <div class="form-group">
                <input type="submit" value="Delete Season" class="form-control btn btn-danger" />
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>

    </script>
}