﻿@model UnpremierBetting.Models.ViewModels.AlertViewModel

<div class="alert alert-@Model.Type">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>@Model.BoldMessage</strong> @Model.Message
</div>