﻿@model IEnumerable<UnpremierBetting.Models.ViewModels.Bets.BetViewModel>
<div id="odds">
    <h2>Add bet to ticket list</h2>
    <br />
    @{
        <div class="row bets">
            @foreach (var bet in Model)
            {
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                @Ajax.ActionLink($"{bet.Type} ({bet.Odds.ToString("F")})", "Add", "Bets",
                    routeValues: new { id = bet.Id, area = "" },
                    ajaxOptions: new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "odds",
                        InsertionMode = InsertionMode.Replace
                    },
                    htmlAttributes: new { @class = "btn btn-lg btn-info" })
            </div>
            }
        </div>
    }
</div>