﻿@using UnpremierBetting.Utilities
@using UnpremierBetting.Models.ViewModels.Bets
@using UnpremierBetting.Utilities.Extensions
@model BetDetailsViewModel

<div class="row">
    <div class="col-lg-1">
        <input type="submit" class="btn btn-danger btn-sm" value="X">
    </div>
    <div class="col-lg-11">
        @Html.TicketPanel(
            Model.PanelColor,
            $"{Model.HomeTeam} vs {Model.AwayTeam} {Model.ExpiredMessage}",
            Html.MatchDate(Model.MatchDate, "p").ToString(),
            $"{Model.Type} ({Model.Odds.ToString("F")})",
            Model.PanelNumber
            )
    </div>
</div>