﻿@model UnpremierBetting.Models.ViewModels.Bets.BetTicketConfirmationViewModel
@{
    this.ViewBag.Title = "Ticket Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm ticket</h1>
<div class="row">
    <div class="col-lg-6">
        <div id="ticket">
            @using (Ajax.BeginForm(new AjaxOptions()
            {
                UpdateTargetId = "ticket",
                InsertionMode = InsertionMode.Replace
            }))
            {
                @Html.LabelFor(m => m.BettingAmount, new { @class = "input-lg" })
                @Html.EditorFor(m => m.BettingAmount, new { htmlAttributes = new { @class = "form-control input-lg", type = "number", step = "0.01", @readonly = "readonly" } })
                <br />
                @Html.LabelFor(m => m.CombinedOdds, new { @class = "input-lg" })
                @Html.EditorFor(m => m.CombinedOdds, new { htmlAttributes = new { @class = "form-control input-lg", disabled = "disabled" } })
                <br />
                @Html.LabelFor(m => m.WinningAmount, new { @class = "input-lg" })
                <input type="number" class="form-control input-lg" name="WinningAmount" value="@Model.WinningAmount.ToString("F")" disabled="disabled" />
                <br />
                <input class="btn btn-lg btn-danger" type="submit" value="Confirm Ticket">
            }
        </div>
    </div>
</div>
