﻿@using UnpremierBetting.Models.ViewModels
@using UnpremierBetting.Utilities
@model UnpremierBetting.Models.ViewModels.Bets.BetTicketViewModel
<h1>My Ticket</h1>
<br />
<div class="row">
    <div class="col-lg-5">
        @Html.ValidationMessageFor(m => m.Bets, "", new { @class = "text-danger" })
        @{ int panelNumber = 1; }
        <div class="panel-group" id="accordion-panel2">
            @foreach (var bet in Model.Bets)
            {
                using (Html.BeginForm("Remove", "Bets", routeValues: new { betId = bet.Id }))
                {
                    @Html.Action("TicketBet", new { betVm = bet, panelNumber })
                }

                panelNumber++;
            }
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => m.CombinedOdds, new { @class = "input-lg" })
            @Html.EditorFor(m => m.CombinedOdds, new { htmlAttributes = new { @class = "form-control input-lg", @readonly = "readonly" } })
            <br />
            @Html.LabelFor(m => m.BettingAmount, new { @class = "input-lg" })
            @Html.EditorFor(m => m.BettingAmount, new { htmlAttributes = new { @class = "form-control input-lg", type = "number", step = "0.01" } })
            @Html.ValidationMessageFor(m => m.BettingAmount, "", new { @class = "text-danger" })
            <br />
            <br />
            <input class="btn btn-lg btn-warning" type="submit" value="Add Ticket">
        }
    </div>
</div>