﻿@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@model UnpremierBetting.Models.ViewModels.Bets.BetTicketViewModel
@{
    this.ViewBag.Title = "My Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@this.ViewBag.Title</h1>
<br />
<div class="row">
    <div class="col-lg-5">
        @Html.ValidationMessageFor(m => m.Bets, "", new { @class = "text-danger" })
        @{ int panelNumber = 1; }
        <div class="panel-group" id="accordion-panel">
            @foreach (var bet in Model.Bets)
            {
                <div id="bet-@panelNumber">
                    @using (Ajax.BeginForm("Remove", "Bets",
            routeValues: new { betId = bet.Id },
            ajaxOptions: new AjaxOptions()
            {
                UpdateTargetId = $"bet-{panelNumber}",
                InsertionMode = InsertionMode.Replace
            }))
                    {
                        @Html.Action("TicketBet", "Bets", new { betVm = bet, panelNumber})
                    }
                </div>

                panelNumber++;
            }
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => m.CombinedOdds, new { @class = "input-lg" })
            <input type="number" class="form-control input-lg" name="CombinedOdds" value="@Model.CombinedOdds.ToString("F")" readonly="readonly" />
            <br />
            @Html.LabelFor(m => m.BettingAmount, new { @class = "input-lg" })
            @Html.EditorFor(m => m.BettingAmount, new { htmlAttributes = new { @class = "form-control input-lg", type = "number", step = "0.01" } })
            @Html.ValidationMessageFor(m => m.BettingAmount, "", new { @class = "text-danger" })
            <br />
            <br />
            <input class="btn btn-lg btn-warning" type="submit" value="Add Ticket">
        }
    </div>
</div>