﻿@using UnpremierBetting.Utilities
@using UnpremierBetting.Utilities.Extensions
@model UnpremierBetting.Models.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "My Profile";
}

<h2>@ViewBag.Title</h2>
@if (Model.HasPassword)
{
    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-lg btn-default" })
}
<p class="text-success">@ViewBag.StatusMessage</p>


<div class="row">
    <h4 style="text-align: right">Your balance: <strong class="text-success">@Model.Balance</strong></h4>
</div>
<hr/>

<div class="row">
    <h3 class="text-primary">
        <strong>Tickets</strong>
    </h3>
    @foreach (var ticket in Model.Tickets)
    {
        <div class="img-thumbnail col-lg-3 col-md-4 col-sm-6 col-xs-12">
            @Html.Action("Status", new { status = ticket.Status })
            <h3 class="text-primary">
                <strong>@ticket.WinningAmount.ToString("F")</strong>
            </h3>
            <h4>Bet Amount: @ticket.Amount</h4>
            <h4>Odds: @ticket.CombinedOdds.ToString("F")</h4>
            @foreach (var bet in ticket.Bets)
            {
                <div>
                    <h5>
                        @bet.HomeTeam vs @bet.AwayTeam
                    </h5>
                    <div>@Html.MatchDate(bet.MatchDate, "h6")</div>
                    <span class="label label-info pull-right" data-effect="pop">
                        @bet.Type (@bet.Odds.ToString("F"))
                    </span>
                    @Html.Action("TicketCheck", new { status = ticket.Status, bet.IsExpired })
                </div>
                <hr />
            }
        </div>
    }
</div>