﻿@model UnpremierBetting.Models.ViewModels.Matches.MatchDetailsViewModel
@{
    this.ViewBag.Title = $"{Model.HomeTeam} vs {Model.AwayTeam}";
}

<div class="row score">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <h1>@Model.HomeTeam</h1>
    </div>
    <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1">
        <h1>@Model.HomeGoals</h1>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
        <h1>:</h1>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
        <h1>@Model.AwayGoals</h1>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
        <h1>@Model.AwayTeam</h1>
    </div>
</div>
<br />
@if (!Model.BetsExpired)
{
    @Html.Action("Odds", "Bets", new { matchId = Model.Id, area = "Bets" })
}