﻿@using UnpremierBetting.Models.Enums
@using UnpremierBetting.Models.ViewModels
@using UnpremierBetting.Utilities
@using UnpremierBetting.Utilities.Extensions
@model IEnumerable<UnpremierBetting.Models.ViewModels.Fixtures.FixturesViewModel>
@{
    ViewBag.Title = "Fixtures";
}
<h2>@ViewBag.Title</h2>
<h4>Season</h4>

<div class="row">
    @using (Html.BeginForm("Fixtures", "Matches", FormMethod.Post))
    {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            @Html.DropDownList("year", (IEnumerable<SelectListItem>)this.ViewBag.AllSeasonYears, new { @class = "form-control" })
            @Html.DropDownList("leagueId", (IEnumerable<SelectListItem>)this.ViewBag.AllLeaguesList, new { @class = "form-control" })
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4">
            <div class="form-group">
                <input type="submit" value="Filter" class="form-control btn btn-info" />
            </div>
        </div>
    }
</div>

@{
    foreach (var fixtureMatches in Model)
    {
        <div class="row">
            @Html.MatchDate(fixtureMatches.MatchDay, "h3")
        </div>
        <div class="row">
            @foreach (var match in fixtureMatches.Matches)
            {
                string labelColor = "success";
                string optionText = "Place Bet";
                string optionColor = "primary";
                if (match.MatchStatus.ToString() == "Played")
                {
                    labelColor = "default";
                    optionText = "Match Info";
                    optionColor = "default";
                }

                <div class="fixture">
                    <div class="img-thumbnail col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="label label-@labelColor pull-left" data-effect="pop">
                                    @match.MatchStatus.ToString()
                                </span>
                            </div>
                            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-3 col-xs-offset-1">
                                @Html.ActionLink(match.HomeTeam, "Details", "Clubs", new { id = match.HomeTeamId }, null)
                            </div>
                            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-3">@match.HomeGoals</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">@match.AwayGoals</div>
                            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-3 col-xs-3">
                                @Html.ActionLink(match.AwayTeam, "Details", "Clubs", new { id = match.AwayTeamId }, null)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-2 col-sm-offset-10">
                                @Html.ActionLink(optionText, "Details", new { matchId = match.Id }, new { @class = $"btn btn-{optionColor}" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
    }
}

<ul class="pagination">
    @{
        int previousPages = this.ViewBag.CurrentPage - 3;
        int nextPages = this.ViewBag.CurrentPage + 3;
        if (previousPages < 1)
        {
            nextPages += Math.Abs(previousPages);
            previousPages = 1;
        }
        if (nextPages > this.ViewBag.PageCount)
        {
            previousPages -= (nextPages - this.ViewBag.PageCount);
            previousPages = previousPages < 1 ? 1 : previousPages;
            nextPages = this.ViewBag.PageCount;
        }

        for (int i = previousPages; i <= nextPages; i++)
        {
            string activeClass = this.ViewBag.CurrentPage == i ? "active" : null;

            <li class="@activeClass">
                @Html.ActionLink(i.ToString(), "Fixtures", "Matches", new { year = this.ViewBag.SeasonYear, page = i }, null)
            </li>
        }
    }
</ul>