﻿@using UnpremierBetting.Models.ViewModels.Clubs
@model IEnumerable<ClubViewModel>

@{
    ViewBag.Title = "Club Options";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-lg-4">
        @using (Html.BeginForm("Generate", "Clubs", FormMethod.Post))
        {
            <h2 class="text-success" style="font-weight: bold">Empty squads</h2>
            <div class="checkbox">
                <label class="control-label" style="font-weight: bold">
                    <input id="non-squad-selector" type="checkbox">
                    Select All
                </label>
            </div>
            <div id="non-squad-list">
                @foreach (var club in this.Model.Where(m => !m.HasSquad))
                {
                    <div class="checkbox">
                        <label class="control-label" style="font-weight: bold">
                            <input name="ids" type="checkbox" value="@club.Id">
                            @club.Name
                        </label>
                    </div>
                }
            </div>
            if (this.Model.Any(m => !m.HasSquad))
            {
                <input type="submit" value="Generate Squads" class="form-control btn btn-large btn-success" />
            }
        }
    </div>
    <div class="col-lg-4">
        @using (Html.BeginForm("AddToLeague", "Clubs", FormMethod.Post))
        {
            <div class="form-group">
                <h2 class="text-primary" style="font-weight: bold">Available squads</h2>
                <div class="checkbox">
                    <label class="control-label" style="font-weight: bold">
                        <input id="squad-selector" type="checkbox">
                        Select All
                    </label>
                </div>
                <div id="squad-list">
                    @foreach (var club in this.Model.Where(m => m.HasSquad))
                    {
                        <div class="checkbox">
                            <label class="control-label" style="font-weight: bold">
                                <input name="ClubIds" type="checkbox" value="@club.Id">
                                @club.Name
                            </label>
                            <span>@Html.ActionLink("Details", "Details", "Clubs", new { club.Id, area = "" }, null)</span>
                        </div>
                    }
                </div>
            </div>

            if (this.Model.Any(m => m.HasSquad))
            {
                @Html.Label("League", new { @class = "control-label" })
                @Html.DropDownList("LeagueId", (IEnumerable<SelectListItem>)this.ViewBag.AllLeaguesList, new { @class = "form-control" })
                <br />
                <input type="submit" value="Add To League" class="form-control btn btn-primary" />
            }
        }
        @using (Html.BeginForm("Delete", "Clubs", FormMethod.Post))
        {
            <div class="form-group">
                <div id="hidden-list">
                    @foreach (var club in this.Model.Where(m => m.HasSquad))
                    {
                        <input type="checkbox" name="ids" value="@club.Id" hidden="hidden">
                    }
                </div>
            </div>
            <br />
            if (this.Model.Any(m => m.HasSquad))
            {
                <input type="submit" value="Delete Squads" class="form-control btn btn-large btn-danger" />
            }
        }
    </div>
</div>
@section scripts
{
    <script src="../../../../Scripts/checkboxes.js">
    </script>
}