﻿@{
    ViewBag.Title = "Unpremier Betting";
}
<header class="logo-header"></header>

<div class="row space">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <img class="img-responsive sizeup" src="~/Content/Images/Screenshots/table.png" alt="">
    </div>
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">
        <h2 class="text-primary">
            <strong>League Table</strong>
        </h2>
        <h4>Every club competes for a top spot on the table.</h4>
    </div>
</div>
<div class="row space">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h2 class="text-primary">
            <strong>Fixtures</strong>
        </h2>
        <h4>You can see the upcoming matches and bet on them.</h4>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1">
        <img class="img-responsive sizeup" src="~/Content/Images/Screenshots/fixtures.png" alt="">
    </div>
</div>
<div class="row space">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <img class="img-responsive sizeup" src="~/Content/Images/Screenshots/tickets.png" alt="">
    </div>
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">
        <h2 class="text-primary">
            <strong>Tickets</strong>
        </h2>
        <h4>The bets can be monitored in your profile.</h4>
    </div>
</div>
<div class="row space">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h2 class="text-primary">
            <strong>Players</strong>
        </h2>
        <h4>You can analyze every player individually for better betting choices.</h4>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1">
        <img class="img-responsive sizeup" src="~/Content/Images/Screenshots/player.png" alt="">
    </div>
</div>