﻿@model UnpremierBetting.Models.ViewModels.Account.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Username, "", new {@class = "text-danger"})
        </div>
    </div>
    @Html.HiddenFor(m => m.Email)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default btn-lg" value="Register" />
        </div>
    </div>
}
