﻿@using UnpremierBetting.Models.ViewModels.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-lg-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new {@class = "col-md-2 control-label"})
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Username, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    <div class="col-lg-10">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="true">
                                Remember Me?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="col-lg-1">
                            <input type="submit" value="Log in" class="btn btn-default btn-lg"/>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        @Html.Partial("_ExternalLoginsListPartial",
                    new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>